.imagens img{
    width: 100%;
    height: 300px;
}

.conteudo{
    padding: 20px
}

.conteudo img{
   width:100% ;
   height: 300px;
}

.texto{
    padding: 20px;
}

.mapa iframe{
    width: auto;
    height: 200px;
}

.sociais img {
    width: 50px;
    height: 50px;
}

.sociais {
    padding: 25px;
    background-color: rgba(128, 161, 150, 0.61);
    margin-left: 10px;
    border-bottom: 50px;
}

.tela img{
    width: auto;
    margin-top: -800px;
    display: flex;
    
}

.conteudo-loja img{
    width: 250px;
    height: 250px;
}

.conteudo-loja h3{
    color: brown;
    display: block;
}

