.imagens img{
    width: 100%;
    height: 300px;
}

.conteudo{
    padding: 20px
}

.conteudo img{
   width:100% ;
   height: 300px;
}

.texto{
    padding: 20px;
}

.mapa iframe{
    width: auto;
    height: 200px;
}

.sociais img {
    width: 50px;
    height: 50px;
}

.sociais {
    padding: 25px;
    background-color: rgba(128, 161, 150, 0.61);
    margin-left: 10px;
    border-bottom: 50px;
}

.tela img{
    width: auto;
    margin-top: -800px;
    display: flex;
    
}

.img-roupa{
    width: 550px;
    height: 550px;
    display: flex;
    padding: 50px;
    justify-content:flex-start;
}

.img-roupa h3{
    color: rgb(38, 31, 140);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

