@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.container-fluid{
    background-image: url("imagens/fundo-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container-fluid h1{
    color: rgba(255, 255, 255, 0.925);
    margin-top: 50px;
    font-family: 'Satisfy', cursive;
    font-size: 70px;
}

.imagens img{
    width: 100%;
    height: 300px;
}

.capa-site{
    width: 110vw;
    height: 40vh;
    margin: 0 auto;
    background-color: rgb(26, 23, 23);
}


.dropdown-item:hover{
    border-left: 4px solid rgba(34, 91, 156, 0.89);
    color: rgb(8, 39, 105);
    transition: 0.3s;
}

.nav-item{
    color: red;
}

.conteudo{
    padding: 20px
}

.conteudo img{
   width:100% ;
   height: 300px;
}

.conteudo h3{
    color: azure;
}

.conteudo p{
    color: azure;
    font-size: 20px;
}
.img-fluid{
    border-radius: 50px;
}

.texto{
    padding: 20px;
    
}


.tela img{
    width: auto;
    margin-top: -800px;
    display: flex;
    
}

.img-roupa{
    width: 550px;
    height: 550px;
    display: flex;
    padding: 50px;
}

.img-roupa h3{
    color: rgb(134, 132, 165);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.spin-text{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    
}

.spinning h3{
    margin-bottom: 25px;
}

.spinning h5{
    color: aliceblue;
    padding: 5px;
    font-size: 20px;
    font-weight: 200;
}

.img-spin{
    margin-bottom: 100px;
    border-radius: 50px;
    border-color: rgb(105, 62, 198);
}

.card{
    width: 18rem;
    height: 24rem;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-color: rgba(44, 42, 42, 0.75);
    cursor: pointer;
    transition: background 1s;
}

.card img{
    width: 100%;
    height: 200px;
    justify-content: center;
}

.card:hover, card-focus {
    background: rgba(182, 177, 236, 0.633);
}

.card-text{
    font-size: 25px;
}

.card-body h3{
    font-size: 20px
}

.modal-body{
    background: rgba(196, 204, 211, 0.692);
}

.modal-body> p{
    border-top: 1px dotted rgb(3, 3, 3);
    margin-top: 10px;
    text-align: justify;
    font-size: 15px;
}

.login-text{
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-label{
    color: azure;
}

.form-check-label{
    color: azure;
}

/****** Formulário Aluno*******/

.form-aluno{
    margin-top: 5%;
}

.end-form{
    color: red;
}

.genero{
    margin-left: 4px;
}

.form-radio{
    color: red;
    display: block;
}

.btn-primary{
    margin-bottom: 25px;
}

/***** Perfil******/
.personal-image {
    margin-top: 25px;
    margin-right: 250px;
    text-align: center;
}
.personal-image input[type="file"] {
    display: none;
}
.personal-figure {
    position: relative;
    width: 120px;
    height: 120px;
}
.personal-avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}
.personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
}

/**** RODAPÉ *****/
.footer{
    background: rgb(205, 203, 209);
    border-top: 1px dotted rgb(3, 3, 3);
    
}

.footer> h4{
    color: rgb(14, 13, 13);
    margin-top: 25px;
    
}

.footer p{
    margin-top: 20px;
    font-size: 20px;
    color: rgb(100, 75, 46);
}


.footer ul a{
    color: rgb(100, 75, 46);
    text-decoration: none;
    font-size: 20px;
}

.footer ul a:hover{
    padding-left: 30px;
    border-left: 4px solid rgba(34, 91, 156, 0.89);
    color: rgb(8, 39, 105);
    transition: .4s;
    
}

.footer li a{
    margin-top: 10px;
}

.sociais {
    font-size: 40px;
    padding: 25px;
    border-top: 2px dotted rgb(0, 0, 0);
    background: rgb(205, 203, 209);
    border-bottom: 50px;
}

.sociais a{
    display: inline-flex;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: rgb(46, 79, 117);
    color: white;
    margin: 0 6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 25px;
}

.sociais a:hover {
    background: #0b1c3f;
}

.sociais a i {
    transition: 0.4s all;
}

.sociais a:hover > i {
    transform: scale(1.5) rotate(15deg);
}

.mapa{
    background: rgb(205, 203, 209);
    border-top: 1px dotted rgb(13, 13, 13);
}

.mapa h4{
    color: rgb(0, 0, 0);
    margin-top: 25px;
}

.mapa iframe{
    width: auto;
    height: 200px;
}
